/* Google fonts imports */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* Box-sizing property set to border-box so that when set height or width to an element it will be applied to entire element including border */
}

/* General styles */
body {
    min-height: 100vh;
    /* Will allow it to stretch larger than the height of the screen */
    display: flex;
    flex-direction: column;
    /* So elements will still show underneath aech other */
    /* Generic project styles */
    color: #3a3a3a;
    /* Adjust text colour for the body and will be applied to all other elements unless specified */
    font-family: 'Lato', sans-serif; /* Apply the Lato font to all text as the base font */
    

}

/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem; /* Prevent text from sticking to side of screen */
    position: fixed; /* navbar to scroll along */
    z-index: 99; /* to make sure is layered on top of elements */
    width: 100%; /* make sure fills width of screen */
    box-shadow: 0 2px 2px #3a3a3a; /* Indicate it's layered on top of other content */
}

header a { /* syle rule for any a tag thats a decendent of the header*/
    text-decoration: none; /* Remove the default lines and blue colour on the links of the header */
    color: inherit; /* inherits colour from body, takes care of default link applied by browser */
}

h1 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase; /* To easily change the casing */
    letter-spacing: 2px; /* Provides breathing space between the letters */
    color: #252525; /* stands out from the other links */
}

#menu {
    font-size: 110%; /* font size to links */
    letter-spacing: 4px; /* letters spaced by 4px */
    list-style-type: none; /* No bullet points */
}

#menu > li {
    margin-bottom: 1em; /* Targets list items inside menu, spaced vertically */
}

.active {
    border-bottom: 1px solid #3a3a3a; /* To give the home menu a visual queue */ 
}

/* Navbar styles with dropdown toggle */ 
nav {
    position: absolute; /* Takes an element outside the normal flow of the page structure */
    background-color: #ffffff;
    width: 100%; /* Full length of screen */
    left: 0; /* Align directly against left of screen */
    padding: 0 1rem; /* Padding to line up nav elements below the logo */
    box-shadow: 0 2px 2px #3a3a3a; /* box-shadow like one on the header */
    display: none; /* so that the navbar items are hidden until user clicks to open */
}

/* Main */
main {
    background-color: lightblue;
    /* Make main element take up any surplus space to push footer down and should not shrink when screen is too small to show all the content */
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: orange;
}